html {
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: #181818;
  font-size: 1rem;
}

h1, h2, h3 {
  font-family: "Jura", sans-serif;
}

.text-white {
  color: #efefef !important;
}

.bg-white {
  background-color: #efefef !important;
}

.text-black {
  color: #181818 !important;
}

.bg-black {
  background-color: #181818 !important;
}

.text-eco {
  color: #629544 !important;
}

.bg-eco {
  background-color: #629544 !important;
}

.btn {
  --bs-btn-padding-x: 1.5rem;
  --bs-btn-padding-y: 0.6rem;
  --bs-btn-font-size: 1.3rem;
  --bs-btn-font-family: "Jura", sans-serif;
  --bs-btn-font-weight: 500;
  --bs-btn-line-height: 1.5;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 2px;
  --bs-btn-border-radius: 0;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
  	0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem
  	rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .btn {
    --bs-btn-padding-x: 2.2rem;
    --bs-btn-padding-y: 1rem;
    --bs-btn-font-size: 1.5rem;
  }
}
.btn.btn-outline-white {
  --bs-btn-color: #efefef;
  --bs-btn-border-color: #efefef;
  --bs-btn-hover-border-color: #efefef;
  --bs-btn-hover-bg: #efefef;
  --bs-btn-hover-color: #181818;
}
.btn.btn-outline-black {
  --bs-btn-color: #181818;
  --bs-btn-border-color: #181818;
  --bs-btn-hover-border-color: #181818;
  --bs-btn-hover-bg: #181818;
  --bs-btn-hover-color: #efefef;
}

.text-link span {
  text-decoration: underline;
}
.text-link:has(.icon) {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.text-hero {
  font-weight: 800;
  font-size: 2rem;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .text-hero {
    font-size: max(4vw, 4rem);
  }
}

.title-font {
  font-family: "Jura", sans-serif;
}

.title-text {
  font-size: 1rem;
  font-family: "Jura", sans-serif;
}
@media screen and (min-width: 768px) {
  .title-text {
    font-size: 2rem;
  }
}

.hero-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero-wrapper::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.hero-wrapper .media-content {
  width: 100%;
  height: 100%;
}
.hero-wrapper .media-content .wrap {
  width: 100%;
  height: 100%;
}
.hero-wrapper .media-content .wrap video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-wrapper .text-content {
  width: 100%;
  max-width: 1400px;
  padding: 1rem;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.hero-wrapper .controller {
  z-index: 2;
  bottom: 1rem;
  left: 1rem;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;
  color: #efefef;
  font-size: 2rem;
  opacity: 0.5;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .hero-wrapper .controller {
    bottom: 2rem;
    left: 2rem;
    font-size: 3rem;
  }
}
.hero-wrapper .controller:hover {
  opacity: 1;
}

.hero-media-caption .caption {
  background-color: rgba(24, 24, 24, 0.7);
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 150px;
  padding: max(5%, 1rem);
}

main .section {
  padding: max(10%, 2rem);
}
main section {
  overflow: hidden;
}
main section .section-title {
  margin-bottom: 2rem;
}
main section .section-title h2 {
  font-size: max(2.7vw, 2rem);
  font-family: "Jura", sans-serif;
  text-transform: capitalize;
  font-weight: 600;
}
main .bg-image {
  background-size: cover;
  width: 100%;
  height: 50vh;
}
@media screen and (min-width: 768px) {
  main .bg-image {
    height: 80vh;
  }
}